In [1]:
person_1 = ("Brad Pitt", 55, "Los Angeles")

In [3]:
type(person_1)

tuple

In [8]:
person_2 = ("Ajay",23,"Banglore")

In [5]:
type(person_2)

tuple

In [6]:
person_1[0]

'Brad Pitt'

In [9]:
person_2[-1]

'Banglore'

In [10]:
numbers = ([1,3,5], [7,9,11])

In [12]:
# We can change list elements inside a tuple.
numbers[0][1] = 2

In [13]:
numbers

([1, 2, 5], [7, 9, 11])